.nav-bar-btn {
	width: 13%; 
	margin: 0; 
	text-align: center; 
	height: 40px; 
	vertical-align: middle;
	float: right;
	margin-top: 20px;
}

.nav-bar-btn-text {
	font-size: 16px; 
	font-weight: 700;
/*	color: #003300; */
	color: #f3f3f3;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.nav-bar-btn-text:hover {
	font-size: 18px; 
/*	color: #003300; */
	color: #f3f3f3;
	font-weight: bold;
	text-decoration: none;
}

.nav-bar-row {
	/*background-color: #ccffff;*/
	background-color: #002200;
	width: 100%;
	margin: 0;
	height: 70px;
}

.nav-text {
	position: relative; 
	top: 25%;
}
.myCarousel {
	margin-left: 5%; 
	margin-right: 5%; 
	width: 90%;
}

.home-carousel {
	max-width: 750px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.voices-nav-row {
	background: transparent;
	width: 100%;
	margin: 0;
}

.voices-nav-btn-text {
	font-size: 14px; 
	color: #f3f3f3;
	margin-left: 2px;
	margin-right: 2px;
}

.voices-nav-btn-text:hover {
	font-size: 14px; 
	color: #FCBD74;
	text-decoration: none;
	margin-left: 2px;
	margin-right: 2px;
}

.voices-nav-btn-text:active {
	font-size: 14px; 
	color: #FCBD74;
	text-decoration: none;
	margin-left: 2px;
	margin-right: 2px;
}

.voices-turquoise {
	height: 300px;
	background-color: #00CC99;
}

.voices-blue {
	height: 300px;
	background-color: #3399CC;
}

.voices-orange {
	height: 300px;
	background-color: #FF9900;
}

.voices-row {
	margin-bottom: 20px;
	margin-left: 0px;
}

.voices-name {
	margin-top: 25px;
	font-size: 24px; 
	color: #f3f3f3; 
	font-weight:700;
	position: relative;
	margin-left: 20px;
}

.voices-title {
	font-size: 18px;
	color: #f3f3f3; 
	font-weight: 700;
	position: relative;
	margin-left: 20px;
}

.voices-player {
	position: relative;
	top: 50px;
	left: 10px;
}

.about-text {
	font-size: 16px; 
/*	color: #003300; */
	color: #f3f3f3;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.about-text:hover {
	text-decoration:underline;
	color: #f3f3f3;
}

.title-text {
/*	font-family: 'Lato', sans-serif;*/
/*	font-family: 'Noto Sans', sans-serif;*/
/*	font-family: 'PT Sans Caption', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-weight: 800; 
	margin-top: 70px;
}

.body-text {
	/*font-family: 'Noto Sans', sans-serif;*/
/*	font-family: 'PT Sans Caption', sans-serif;*/
font-family: 'Raleway', sans-serif;
}

.description-text {
	font-size: 24px; 
	color: #002200; 
	line-height: normal;
}

.tagline-text {
	font-size: 36px; 
	color: #003300; 
	font-weight: 800;
/*	font-style: italic;*/
	line-height: normal;
	margin-left: 10%;
	text-align: left;
	margin-top: 35px;
}

.title {
	color: #f3f3f3;
    font-size: 72px;
    font-weight: 900;
    margin-top: 5px;
    text-align: center;
    padding: 20px;
    background-color: #003300;
    opacity: .7;
}

.site-map {
	background-color: #002200;
	width: 100%;
	height: 300px;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 10000;
}

.page-body {
	width: 100%; 
	margin: 0; 
	position: absolute; 
	top: 160px;
}

.index-btn-img {
	height: auto; 
	width: 100%; 
}

.about-pic {
	max-height:200px;
}

.about-thumb {
	height: 270px;
	max-width: 204px;
	padding: 4px 4px 0 4px;
	margin-top: 2.127659574468085%;
	color: #00cc99;
}

.index-btn {
	width: 18%; 
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: none;
	text-align: center; 
	vertical-align: middle;
	height: 200px;
	width: 225px;
}

.index-btn-text {
	font-size: 18px; 
	color: #003300; 
	line-height: normal;
}

.index-btn-title {
	font-size: 25px; 
	font-weight: bold;
	color: #003300; 
	line-height: normal;
	text-align: center;
	margin-top: 40px;
}

.about-link {
	background-color: #07260c;
	position: absolute;
	top: 27px;
	right: 7%;
	padding: 7px;
	border-radius: 5px;
}

.block-blue {
	background-color: #3399CC;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.block-orange {
	background-color: #FF9900;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.block-turquoise {
	background-color: #00CC99;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.block-grey {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.block-dark-green {
	background-color: #07260c;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.home-block-title {
	font-size: 50px; 
	font-weight: bold;
	color: #f3f3f3; 
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	margin-top: 25%;
}

.home-block-text {
	font-size: 30px; 
	font-weight: bold;
	color: #f3f3f3; 
	line-height: normal;
	text-align: center;
}

.breadcrumb-text {
	font-size: 16px; 
	color: #003300; 
	text-shadow: none;
}

.breadcrumb-nonlink {
	font-size: 16px; 
	color: #003300; 
	text-shadow: none;
	padding-left: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 20px;
	background-color: #DEDEDE;
}

.current-breadcrumb-text {
	font-size: 16px; 
	color: #003300; 
	text-shadow: none;
	font-weight: bold;
}

.breadcrumb-text:hover {
	font-size: 16px; 
	font-weight: bold;
	color: #003300; 
	text-shadow: 0;
	text-decoration: none;
}

.my-nav-tabs {
/*	background-color: #DEDEDE;*/
	background: transparent;
}

.my-nav-tabs > li {
	font-size: 16px; 
	color: #003300;
	text-shadow: none;
	background-color: #DEDEDE;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.my-nav-tabs > .active > a {
	font-size: 16px; 
	color: #f3f3f3;
	text-shadow: none;
	background-color: #3399CC;
}

.my-nav-tabs > .active > a:hover {
	font-size: 16px; 
	color: #f3f3f3; 
	text-shadow: none;
	background-color: #3399CC;
}

.category-nav {
	width: 100%;
}

.pvd-map {
  width: 100%;
  height: 420px;
}

.beverages-button {
	position: relative;
	top: 25%;
	font-size: 20px;
	font-weight: 700;
	color: #f3f3f3; 
	line-height: normal;
	text-align: center;
}

.beverages-span {
	height: 50px;
	border-radius: 10px;
	background-color: #07260c;
}

.justify-text {
	font-size: 18px; 
	color: #f3f3f3; 
	line-height: normal;
	text-align: justify;
}

.my-breadcrumb {
	position: absolute; 
	left: 165px; 
	top: 70px;
	background: transparent;
}

.logo {
	height: 200px; 
	width: auto; 
	position: absolute; 
	left: 15px; 
	top: 15px; 
	z-index: 10000;
}

.my-item {
	height: 300px; 	
	background-color: #07260c;
}

.access-item {
	height: 300px; 	
	background-color: #00CC99;
}

.access-name-text {
	color: #f3f3f3; 
	font-size: 26px; 
	font-weight: 700;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 20px;
}

.access-info-text {
	color: #f3f3f3; 
	font-size: 20px; 
	margin-left: 50px;
	margin-right: 50px;
}

.access-player {
	margin-left: 50px;
	margin-top: 20px;
}

.carousel-name-text {
	color: #f3f3f3; 
	font-size: 26px; 
	font-weight: 700;
	margin-left: 60px;
	position: relative;
	top: 130px;
}

.carousel-info-text {
	color: #f3f3f3; 
	font-size: 20px; 
	font-weight: 700;
	margin-left: 60px;
	position: relative;
	top: 130px;
}

.carousel-player {
	position: relative;
	top: 140px;
	left: 65px;
}

.action-span {
	height: 200px;
	z-index: 10000;
}

.soda-link-text {
	margin-top: 25px;
	margin-bottom: 25px; 
	font-size: 18px; vertical-align: 
	middle; color: #f3f3f3;
}

.soda-link-text:hover {
	margin-top: 25px;
	margin-bottom: 25px; 
	font-size: 18px; vertical-align: 
	middle; color: #f3f3f3;
}

.home-title {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 65px;
	height: 125px;
	background-image: url('../img/Homepage_Title.jpg');
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.action-title {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 65px;
	height: 125px;
	background-image: url('../img/FoodAction.jpg');
}

.culture-title {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 65px;
	height: 125px;
	background-image: url('../img/FoodCulture.jpg');
}

.access-title {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 65px;
	height: 125px;
	background-image: url('../img/FoodAccess.jpg');
}

.resources-span {
	height: 70px;
	border-radius: 10px;
	background-color: #07260c;
}

.lesson-plan-link {
	font-size: 16px; 
	color: #f3f3f3;
}

.lesson-plan-link:hover {
	font-size: 16px;
	color: #f3f3f3; 
	font-weight:bold;
	text-decoration: underline;
}

.job-training {
	padding: 10px; 
	padding-top: 20px;/*
	border-width: 3px;
	border-style: solid;
	border-color: #003300;*/
	overflow: scroll;
}

.homepage-item {
	max-height: 500px;
}

.voices-link {
	margin: 10px; 
	font-size: 28px; 
	text-align: center; 
	color: #003300; 
	font-weight: 700;
}

.voices-link:hover {
	margin: 10px; 
	font-size: 28px; 
	text-align: center; 
	color: #003300; 
	font-weight: 800;
	text-decoration: none;
}


.block-padding {
	padding: 5.5%;
	padding-top: 4.5%;
	margin-bottom:0px;
	border-radius: 3px;
}

.block-text {
	text-align: left;
	font-size: 24px;
	color: #f3f3f3;
}

.columns {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}

.column-width {
	-moz-column-gap:50px; /* Firefox */
	-webkit-column-gap:50px; /* Safari and Chrome */
	column-gap:40px;
}

.button-text {
	font-size: 32px;
	text-align:center;
	color: #f3f3f3;
	font-weight: 600;
}

.chain-button {
	height: 145px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom:0px;
}

.chain-title {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 30px;
	height: 125px;
	background-image: url('../img/FoodChain_title.jpg');
}

.about-us-title {
	margin-top: 30px;
	margin-bottom: 0px;
	padding-top: 30px;
	height: 125px;
	background-image: url('../img/aboutus_title.jpg');
}

.production-title {
	margin-top: 32px;
	margin-bottom: 0px;
	padding-top: 30px;
	height: 125px;
	background-image: url('../img/FoodProduction_title.jpg');
}

.span-blue {
	background-color: #3399CC;
}

.span-orange {
	background-color: #FF9900;
}

.span-turquoise {
	background-color: #00CC99;
}

.job-title {
	position: relative; 
	top: 20%; 
	color: #f3f3f3; 
	font-size: 30px; 
	font-weight: 700; 
	padding-bottom: 0px; 
	vertical-align: middle; 
	line-height: normal; 
	text-align: center;
}

.job-text {
	padding-top: 20px; 
	font-size: 24px; 
	vertical-align: middle; 
	color: #f3f3f3; 
	text-align: justify; 
	line-height: normal; 
	text-align: center; 
	position: relative; 
	top: 20%;
}

.tab-row {
	background-color: #3399CC; 
	padding-bottom: 25px;
}

.restaurant-carousel-img {
	background-size: 537px 358px;
	width: 537px;
	height: 358px;

}

.about-name {
	color: #f3f3f3;
	/* font-size: 20px;
	font-weight: 700;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px; */
	font-size: 16px;
	font-weight: 500;
	padding: 5px 5px 0 5px;
	margin-bottom: 0px;
}

.about-title {
	color: #f3f3f3;
	/* font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px; */
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}

.about-row {
	margin-bottom: 10px;
}
